{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SALLAH – Login</title>
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>

<div class="card">
    <div class="brand">
        <h1>SALLAH</h1>
        <span>{{ role|title }}</span>
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="role" value="{{ role }}">

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button>Login</button>

        <div class="toggle">
            New user?
            <a href="{% url 'signup' %}?role={{ role }}">Create account</a>
        </div>
    </form>
</div>

</body>
</html>
